@page "/"
@using BlazorLocalEFcore.CustomerCode
@using Microsoft.Data.Sqlite
@using System.Runtime.InteropServices
@inject HttpClient Http
@inject CustomerDbContextFactory dbContextFactory
@inject IJSRuntime js

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="SyncData">Sync data from backend</button>
<button @onclick="() => isShowData = true">Show data</button>

<div>
@if(isSynching)
{
    <a>Synchroniziere Daten ...</a>
}
else
{
    <a>Anzahl synchronisierter Kunden: @customerCount</a>
}
</div>

@if (isShowData)
{
    <BlazorLocalEFcore.CustomerCode.CustomerSearchPage />
}

@code {
    private bool isSynching = false;
    private bool isShowData = false;
    private int customerCount = 0;

    protected override async Task OnInitializedAsync()
    {
        var module = await js.InvokeAsync<IJSObjectReference>("import", "./dbstorage.js");

        if (RuntimeInformation.IsOSPlatform(OSPlatform.Create("browser")))
        {
            await module.InvokeVoidAsync("synchronizeFileWithIndexedDb", CustomerDbContextFactory.SqliteDbFilename);
        }

        using var db = dbContextFactory.BuildDbContext();
        await db.Database.EnsureCreatedAsync();
        customerCount = db.Customers.Count();
    }

    private async Task SyncData()
    {
        isSynching = true;
        isShowData = false;

        using var db = dbContextFactory.BuildDbContext();
        db.ChangeTracker.AutoDetectChangesEnabled = false;
        db.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;
        db.Database.OpenConnection();

        var customerFromBackend = await Http.GetFromJsonAsync<IList<Customer>>("sample-data/customer.json") ?? new List<Customer>();
        if (customerCount == 0)
        {
            db.Customers.AddRange(customerFromBackend.ToArray());
        }
        else
        {
            db.Customers.UpdateRange(customerFromBackend);
        }
        await db.SaveChangesAsync();

        customerCount = db.Customers.Count();
        db.Database.CloseConnection();
        isSynching = false;
    }
}